<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617322943880-8nqft1e1lp466buqqap3sdksbc911tvf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617322943880-8nqft1e1lp466buqqap3sdksbc911tvf</string>
	<key>API_KEY</key>
	<string>AIzaSyBkyII0K-QkoG2Z8NHMzxmPlg9CnP4CQEE</string>
	<key>GCM_SENDER_ID</key>
	<string>617322943880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quotes</string>
	<key>PROJECT_ID</key>
	<string>quote-app-d6bf4</string>
	<key>STORAGE_BUCKET</key>
	<string>quote-app-d6bf4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617322943880:ios:47e3d06c5a83c38a8ed63d</string>
</dict>
</plist>